DI/xsd.dtd

<!ELEMENT shiporder (orderperson)>
<!ATTLIST shiporder orderid CDATA #REQUIRED>
<!ELEMENT orderperson (shipto,item+)>
<!ELEMENT shipto (name,address,city,country)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT item (title,note*,quality,price)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT note (#PCDATA)>
<!ELEMENT quality (#PCDATA)>
<!ELEMENT price (#PCDATA)>